body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background: url("../assets/bonsoirJeSuisArrierePlanMoinsLourd.gif");
  background-position: fixed;
  background-attachment: fixed;
}

header {
  position: sticky;
  top: 0;
}

.barNavigation {
  background-color: #222222;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.navPrin {
  max-width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
}

.boutonNavigation {
  /* https://www.w3schools.com/w3css/w3css_navigation.asp*/
  padding: 10px; /* esp bord */
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s, transform 0.2s; /* https://www.w3schools.com/howto/howto_css_transition_hover.asp*/
}

.boutonNavigation:hover {
  background-color: #2b2b2b; /* change de couleur lorsqu'on hover vaec le cursuer*/
  transform: scale(
    1.1
  ); /* 1.1 fois plus grand lorsqu'on hover avec le curseur*/
}
.pagePrin {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background: url("../assets/bonsoirJeSuisArrierePlanMoinsLourd.gif");
  background-position: fixed;
  background-attachment: fixed;
}

.logo img {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

.lettreApparition span {
  opacity: 0;
  animation: apparaitre 0.24s forwards;
  font-family: arial;
  font-weight: bold;
  color: white;
  letter-spacing: -11px;
}

.message {
  background-color: #6e6e6e36;
  backdrop-filter: blur(2px);
  outline: 2px solid #2b2b2b;
  box-shadow: inset 0px 0px 3px #2b2b2b;
}

.messageBienvenue {
  color: white;
  border-radius: 40px;
  padding: 20px;
  text-align: justify;
  max-width: 600px;
}

.messageContact {
  color: white;
  text-decoration: none;
  border-radius: 40px;
  padding: 20px;
  text-align: justify;
  max-width: 600px;
}

/* https://usefulangle.com/post/295/css-change-link-underline-color */
.messageContact a {
  color: rgb(172, 234, 255);
  text-decoration: none;
}

.messageContact a:hover {
  color: rgb(83, 174, 204);
  text-decoration: underline;
  transition: all 0.1s;
}

.extraitBandersnatch img {
  border-radius: 50px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  animation: type var(--animation-length) steps(var(--steps), end);
}

@keyframes type {
  from {
    width: 0;
  }
}

.imgCV img {
  height: 900px;
}

.pageInteret {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* esp haut */
}

.ligneInteret {
  max-width: 1000px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.ligneInteret img {
  width: 400px;
  border-radius: 50px; /* https://www.w3schools.com/css/css3_borders.asp#:~:text=The%20CSS%20border%2Dradius%20property%20defines%20the%20radius%20of%20an,add%20rounded%20corners%20to%20elements! */
}

.ligneInteret p {
  padding: 20px;
  border-radius: 40px;
  margin-left: 10px; /* image esp texte */
  margin-right: 10px;
  text-align: justify;
  color: white;
  font-size: 18px;
}
